/* src/index.css */

:root {
    --background-color: #252525;
}

@font-face {
    font-family: "PixelifySans";
    src: url("./assets/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

/* General */
* {
    margin: 0;
    font-family: "PixelifySans", monospace;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* === Components === */
#navbar,
#main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3%;
}

#navbar {
    gap: 0.5em;
}

/* === Pages === */
.page {
    height: 94%;
}

section p {
    color: white;
}

#root {
    flex: 1;
}

#menu {
    background-image: url("./assets/tavern.png"); /* Source: https://wallhaven.cc/w/rrz51q */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2,
h3,
h4,
nav a,
footer {
    color: white;
}

img {
    width: 100px;
    height: 100px;
}

nav,
footer {
    background-color: var(--background-color);
}

/* Specific */
#home,
#menu,
#about {
    border: black 1px solid;
}

/* Homepage */
#home {
    flex: center;
    justify-content: center;
    align-items: center;
}

#home h2 {
    text-align: center;
}

/* Menu */
.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
