/* src/index.css */

@font-face {
    font-family: "PixelifySans";
    src: url("./assets/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

/* General */
* {
    margin: 0;
    font-family: "PixelifySans", monospace;
}

main {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    color: red;
}

h3 {
    color: green;
}

h4 {
    color: blue;
}

img {
    width: 300px;
    height: 300px;
}

nav,
footer {
    background-color: #252525;
    color: white;
}

nav a {
    color: white;
}

/* Specific */
#home,
#menu,
#about {
    border: black 1px solid;
}

.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
