/* src/index.css */

/* General */
* {
    margin: 0;
}

h2 {
    color: red;
}

h3 {
    color: green;
}

h4 {
    color: blue;
}

img {
    width: 300px;
    height: 300px;
}

#home,
#menu,
#about {
    border: black 1px solid;
}

.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
